.DateCard {
    color: var(--bg-color);
    width: 630px;
    height: 74px;
    margin: 0 auto;
    padding: 25px 44px;
    background: var(--main-color);
    border-radius: 52px;
    margin-bottom: 21px;
}

.today {
    outline: 2px solid var(--accent-color);
    background: var(--main-color-accent);
    box-shadow: 0 4px 9px 0 var(--task-card-shadow);
}