.app_custom1 {
    --main-bg: url('https://512pixels.net/downloads/macos-wallpapers-thumbs/10-12--thumb.jpg') 0 0/cover;
    --bg-color: #000000;
    --main-color: #fc0000;
    --main-color-accent: #FFFFFF;
    --accent-color: #F00;

    // header
    --header-text: green;

    //task card
    --task-card-shadow: rgba(255, 255, 255, 0.50);
    --task-card-time-shadow: rgba(133, 133, 133, 0.5);

    //skeleton
    --skeleton-bg-color: #0f0f0f;
    --skeleton-shadow-color: #222222;

    // modal
    --modal-background-color: #ffffff;
    --modal-font-color: #000000;
}