.app_light {
    --bg-color: #FFF;
    --main-color: #4B4B4B;
    --main-color-accent: #262626;
    --accent-color: #F00;

    // header
    --header-text: #000;

    //task card
    --task-card-shadow: rgba(0, 0, 0, 0.50);
    --task-card-time-shadow: rgba(0, 0, 0, 0.50);

    //skeleton
    --skeleton-bg-color: #818181;
    --skeleton-shadow-color: #262626;
}