.app_light {
    --bg-color: #FFF;
    // --bg-color: url(https://images.unsplash.com/photo-1682687220208-22d7a2543e88?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 0 0/cover;
    --main-color: #4b4b4b;
    --main-color-accent: #262626;
    --accent-color: #F00;


    // header
    --header-text: #000;

    //task card
    --task-card-shadow: rgba(0, 0, 0, 0.50);
    --task-card-time-shadow: rgba(0, 0, 0, 0.50);

    //skeleton
    --skeleton-bg-color: #e9e9e9;
    --skeleton-shadow-color: #b8b8b8;

    // modal
    --modal-background-color: #ffffff;
    --modal-font-color: #000000;
}