.AddNewTask {
    font-size: 30px;
    display: inline-block;
    width: 56px;
    height: 56px;
    color: var(--bg-color);
    background-color: var(--main-color);
    border-radius: 20px;
}

.inputContainer {
    margin-bottom: 60px;
}

.taskInput {
    width: 100%;
}

.timeInputs {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

input {
    padding: 5px 25px;
    box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.30) inset;
    border-radius: 52px;
    height: 45px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.buttons button {
    color: white;
    width: 161px;
    border-radius: 19px;
    padding: 16px 32px;
}

.addNewTaskButton {
    background-color: #4B4B4B;
}

.cancelButton {
    background-color: #F00;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}