@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/custom1';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    transition-duration: 0.3s;
    background: var(--main-bg);
    font: var(--font-m);
}

body::-webkit-scrollbar {
    width: 28px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--bg-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--header-text);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 10px solid var(--bg-color);
    /* creates padding around scroll thumb */
}

.container {
    // container = 1290px, прибавляем по 30px (паддинги с каждой стороны)
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}