.DeleteIcon {
    width: 56px;
    height: 56px;
    background-color: var(--main-color);
    border-radius: 20px;

    &:hover {
        opacity: 0.7;
    }
}

.DeleteIconSvg path {
    fill: var(--bg-color);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.errorContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.errorIcon path {
    stroke: var(--accent-color);
}

.errorIcon circle {
    fill: none;
    stroke: var(--accent-color);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.buttons button {
    color: white;
    width: 161px;
    border-radius: 19px;
    padding: 16px 32px;
}

.deleteButton {
    &:hover {
        opacity: 0.7;
    }

    background-color: #4B4B4B;
}

.cancelButton {
    &:hover {
        opacity: 0.7;
    }

    background-color: #F00;
}