.DateDetailsPageList {
    margin-top: 70px;
    color: var(--bg-color);
}



.selected {
    color: red;
}

.empty {
    margin-top: 200px;
    text-align: center;
}

.empty div {
    margin-bottom: 30px;
}

.bottomPanel {
    padding: 0 250px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.selectAllButton {
    font: var(--font-m);
    background-color: transparent;
    color: var(--header-text);
}

.cancelSelection {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--header-text);
}

.addNewTaskButton {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 42px;
}