.DateDetailsPageList {
    margin-top: 70px;
    color: var(--bg-color);
}

.selected {
    color: red;
}

.empty {
    margin-top: 200px;
    text-align: center;
}

.AddNewTaskContainer {
    display: flex;
    justify-content: center;
}