.Navbar {
    padding: 50px 0;
    background-color: var(--bg-color);
    color: var(--header-text);
    // border-bottom: 2px solid var(--header-text);
    margin-bottom: 50px;
}

.button {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.NavbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AppLogo {
    font-weight: 400;
    font-size: 40px;
}

.switchers {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;
    width: 400px;
}

.date {
    width: 400px;
    display: flex;
    gap: 30px;
}