.DateDetailsPageHeader {
    padding: 0 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 50px;
}

.gobackBtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gobackBtn path {
    fill: transparent;
    stroke: var(--header-text);
}

.date {
    text-align: center;
}